@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html{
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;  
}
body{
    padding-top: 98px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    background-color: #F2F2F2;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield;
}
#headerDiv{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFEFE; 
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 98px;
        
}
#logo{
    width: 89.5px;
    height: 63px;
    margin: 25.5px;
}
#headerText{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}
#headerText p{
    margin: 19px;
    padding-top: 38px;
    padding-bottom: 38px;
}
.active_header_btn{
    color: #EF7F04;
}
#btn1{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 40px;
    background-color: #EF7F04;
    margin: 7px;
    margin-left: 40px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
        
}
#btn1 p{
    margin: 9px;
}
#btn2{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 40px;
    background-color: #3B3A63;
    margin: 5px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;
}
#btn2 p{
    margin: 9px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    background-color: #F2F2F2;
    margin: 0%;
}
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 562px;
    background: url('pic/bannerImg.png') no-repeat center;
    background-size: cover;
}
#bannerInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1156px;
}
#bannerSlogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 611px;
    height: 125.75px;
}
h1{
    margin: 0%;
    font-size: 36px;
    font-weight: 200;
    color: white;
}
h3{
    margin: 0%;
    font-size: 24px;
    font-weight: 700;
    color: #EF7F04;
}
#advantages{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
}
#advantages p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;       
}
#advantages1{
    /* width: 176px;
    height: 143px;   */
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: white;          
}
#advantages2{
    /* width: 165px;
    height: 143px;  */
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: white;          
}
#advantages3{
    /* width: 157px;
    height: 143px;  */
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: white;          
}
#order{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 562px;
}
#rectangle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 406px;
    height: 428px;
    border-radius: 10px;
    background-color: white;
}
#orderText{ 
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    color: #2F2F51;
}
#inputWin{
    display: flex;
    flex-direction: column;   
}
input{
    margin: 7px;
    width: 322.5px;
    height: 40px;
    border-radius: 3px;       
    background-color: #E2E2E2;
    border: 0px;
}
input:focus{
    outline: none;
}
#checkboxOrderText{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#checkboxOrderText p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
}
#checkboxOrder{
    width: 25px;
    height: 25px;
    border-radius: 3px;
}
#orderBtn{
    cursor: pointer;
    width: 199px;
    height: 54.5px;
    border-radius: 3px;
    background-color: #EF7F04;
}
.active_error{
    display: block;
}
.inactive_error{
    display: none;
}
#orderBtn p{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
}
#ruler{
    height: 100px;
}
#rulerImg{
    padding-left: 48px;
}
.pop_up{ 
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.active_pop_up{
    display: block;
}
.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#pop_up_order{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    border-radius: 10px;
    width: 595px;
    height: 519px;
    background-color: white; 
  
    
}
#pop_up_order h1{
    color: black;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}
#pop_up_order p{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}
#close_pop_up_order{
    cursor: pointer;
    position: relative;
    top: -290px;
    left: 260px;
    font-size: 24px;
}

#pop_up_bid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 595px;
    height: 519px;
    background-color: #EF7F04;
}
#inputWinBid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#inputWinBid{
    
}

#mainServices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#services{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 622.25px;
    margin-top: 70px;
}
#services h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;   
    color: #2F2F51;
}
#services div{
    width: 595px;
    height: 268px;
    border-radius: 3px; 
}
#services1 {
    cursor: pointer;
    background:linear-gradient(90deg, white 50%, transparent), url('pic/services1.png')  no-repeat center;
    margin-right: 10px;
    margin-bottom: 10px;
}
#services2 {
    cursor: pointer;
    background:linear-gradient(90deg, white 50%, transparent), url('pic/services2.png')  no-repeat center;
    margin-left: 10px;
    margin-bottom: 10px;
}
#services3 {
    cursor: pointer;
    background:linear-gradient(90deg, white 50%, transparent), url('pic/services3.png')  no-repeat center;
    margin-right: 10px;
    margin-top: 10px;
}
#services4 {
    cursor: pointer;
    background:linear-gradient(90deg, white 50%, transparent), url('pic/services4.png')  no-repeat center;
    margin-left: 10px;
    margin-top: 10px;
}
#servicesBaners{
    display: flex;
    flex-direction: row;
}
.imgServices{
    position: relative;
    left: 50px;
    top: 50px;
}

.hServices{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    color: #2F2F51;   
    position: relative;
    left: 145px;
    top: -35px;
}
.pServices{
    position: relative;
    top: -20px;
    left: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #2F2F51;
}
#pointer1{
    position: relative;
    left: 530px;
    bottom: 15px;
}
#pointer2{
    position: relative;
    left: 530px;
    bottom: 40px;
}
#pointer3{
    position: relative;
    left: 530px;
    bottom: 30px;
}
#pointer4{
    position: relative;
    left: 530px;
    bottom: 35px;
}
.servicesBaner{
    transition:  500ms;
}
.servicesBaner:hover{
    transition: box-shadow 500ms;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
#products{
    margin: -185px;
    width: 1460px;
    height: 1189.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#products h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;   
    color: #2F2F51;
}
#productsText{
    cursor: pointer;
    margin-top: 30px;
    width: 523.64px;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inactiveText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    width: 150.91px;
    height: 39px;
    border-radius: 3px;       
}
.activeText{
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    background-color: #EF7F04;
} 
.inactiveButton{
    opacity: 50%;
}
.activeButton{
    filter: invert(61%) sepia(44%) saturate(5247%) hue-rotate(355deg) brightness(104%) contrast(1000%);
}


#productSelectionMain{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.viewport {
    width: 100%;
    max-width: 1145px;
    height: 461px;
    overflow: hidden;
    border-radius: 3px;
}
.viewport1 {
    width: 100%;
    max-width: 1200px;
    height: 461px;
    overflow: hidden;
    border-radius: 3px;
    background-color: white;
}
.viewport2 {
    width: 100%;
    max-width: 1200px;
    height: 461px;
    overflow: hidden;
    border-radius: 3px;
    background-color: white;
}
#productSelection{
    position: relative;
    transition: 500ms;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 4580px;
    height: 461px;
    border-radius: 3px;
    background-color: white;
    
}
#aboutCompany{
    position: relative;
    transition: 500ms;
    display: flex;
    flex-direction: row;
    width: 4800px;
    height: auto;
}

.slide{
    display: flex;
    flex-direction: row;
    width: 1145px;
    height: 461px;
}
.slide h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    color: #EF7F04;      
}
.slide p{
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
}
.slide span{
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;   
}
#productInfo{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 50px;
    bottom: 30px;
}
#button1{
    cursor: pointer;
    height: 40px;
    width: 20px;
    margin: 20px;
}
#button1 img{
    transform: rotate(180deg);
}
#button2{
    cursor: pointer;
    height: 40px;
    width: 20px;
    margin: 20px;
}
#button3{
    cursor: pointer;
    height: 40px;
    width: 20px;
    position: relative;
    top: 250px;
    left: 70px;
    z-index: 99;
}
#button3 img{
    transform: rotate(180deg);
}

#button4{
    cursor: pointer;
    height: 40px;
    width: 20px;
    margin: 20px;
    position: relative;
    top: -150px;
    left: 1000px;
}

.picture1 {
    right: 0px;
}
.picture2 {
    right: 1145px;
}
.picture3 {
    right: 2290px;
}
.picture4 {
    right: 3435px;
}

#guarantee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('pic/schtandart.png')  no-repeat center;
    background-size: contain;
    width: 100%;
    max-width: 1200px;
    height: 436px;
    border-radius: 0px;     
    margin-top: -60px;
}
#guaranteeText{
    width: 303.49px;
    height: 94px;    
 
}
#proof{
    display: flex;
    flex-direction: row;
}
.proofs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;

}
.proofs p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: white;       
}
#btn3{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 256px;
    height: 54.5px;
    background-color: #3B3A63;
    margin: 5px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.23px;  
    margin-top: 40px;
}
#btn3 p{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;       
    margin: 20px;
}


#aboutCompanyNum1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 461px;
    border-radius: 3px;
    background-color: white;      
}

.picture1_1 {
    position: relative;
    right: 0px;
}
.picture1_2 {
    position: relative;
    right: 1200px;
}
.picture1_3 {
    position: relative;
    right: 2400px;
}
.picture1_4 {
    position: relative;
    right: 3600px;
}
.picture2_1 {
    right: 0px;
}
.picture2_2 {
    right: 1200px;
}
.picture2_3 {
    right: 2400px;
}


.slide1{
    width: 100%;
    max-width: 1200px;
    height: 461px;
}
.h2_aboutCompanyNum2{
    font-size: 16px;
    font-weight: 700px;
    line-height: 26px; 
    color: #2F2F51;
}
.p_aboutCompanyNum2{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
#reviewBtn1{
    cursor: pointer;
    background-color: #EF7F04;
    width: 214.25px;
    height: 54.5px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: white;      
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 60px;
    left: 870px;
}
#reviews{
    display: flex; 
    flex-direction: row;   
    justify-content: center;
    align-items: center; 
    margin-top: -50px;
}
.certificates{
    width: 191px;
    height: 268px;
    border-radius: 3px;
}
#aboutCompany_main_icons{
    display: flex; 
    flex-direction: row;   
    justify-content: center;
    align-items: center; 
}
#aboutCompany_main_icons h1{
    color:  #2F2F51;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
#aboutCompany_main_icons p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;     
}
.ContainerAboutCompanyMainIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutCompanyMainIcon{
    display: flex; 
    flex-direction: row;   
    align-items:start;
    margin: 50px;
}
.aboutCompanyMainIcon img{
    margin: 15px;
}
#btn4{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: #EF7F04;
    width: 312;
    height: 54.5;
    top: 3777.31px;
    left: 803px;
    border-radius: 3px;   
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: white;
}
#btn4 img{
    margin-left: 20px;
    margin-right: 20px;
}
#btn4 p{
    margin-right: 20px;
}

#Contacts h1{
    display: flex;
    justify-content: center;
}
#Contacts h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #2F2F51; 
}
.info{
    display: flex;
    flex-direction: row;
}
.info img{
    margin-right: 10px;
}
.info p{
    margin-right: 10px;
    margin-left: 10px;
}
#review_input{
    overflow-y: scroll;
    height:100px;
}
#rectangle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 511.5px;
    height: 564px;
    top: 5678px;
    left: 1004.5px;
    border-radius: 10px;    
    background-color: white;        
}
#rectangle1 h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 0%;
    color: #2F2F51;
}
#inputWin2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;  
}
#reviewBtn{
    cursor: pointer;
    width: 258px;
    height: 52px;
    border-radius: 3px;
    margin-top: 15px;
    background-color: #2F2F51;  
    text-align: center;
    color: white;  
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;  
}
#checkboxReviewText{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#checkboxReviewText p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
}
#checkboxReview{
    width: 25px;
    height: 25px;
    border-radius: 3px;
}


footer{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 146px;
    background-color: #2F2F51;
}
.footer_Info{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 437px;
    height: 40px;
    color: white;
}
.footer_Info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 437px;
    height: 40px;
}
